/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
* {
    box-sizing:border-box; margin:0px; padding:0px;
}
html,
button,
input,
select,
textarea {
    color: #222;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('/assets/fonts/opensans-light-webfont.eot');
    src: url('/assets/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/opensans-light-webfont.woff') format('woff'),
    url('/assets/fonts/opensans-light-webfont.ttf') format('truetype'),
    url('/assets/fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
    height:100%;
    font-size: 1em;
    line-height: 1.4;
}
body > div.ember-view:first-of-type { height:100%;}
body {
    min-width: 765px;
    font-family: 'open_sanslight', Helvetica, sans-serif;
    color: #202020;
    background-image: url(/assets/images/bg.jpg);
    background-size: cover;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   MAIN WRAPPERS
   ========================================================================== */
body > svg { position:absolute;}
.main_wrap {
    min-width: 640px;
    position:relative;
}

.page_wrap {
    min-height: 100%;
    min-width:640px;
    padding-bottom: 160px;
}
.page_wrap:after, .main_wrap:after {
    display:block;
    content:'';
    clear:both;
}
.content_wrap {
    position: relative;
    min-width: 640px;
    padding: 0 20px;
    max-width: 1224px;
    margin: 0 auto;
    z-index: 1;
}
aside {
    float:left;
    position:relative;
    width:0px;
    margin-left: -100%;
}
.content {
    padding:0 0 10px 0px;
    width: 100%;
    float: left;
    color:#fff;
}
footer {
    position:relative;
    height: 160px;
    margin-top: -160px;
    width: 100%;
    background-image: url(/assets/images/ftr.png);
    background-repeat: no-repeat;
    background-size:cover;
}

/*======================================  CONTENT  =============================*/
.footer { width:60%;
    margin:0 auto;
    padding-top:40px;
    min-width:600px;
}
.logo { background-image:url(/assets/images/logo.png);
    background-size:contain;
    background-repeat:no-repeat;
    background-position:50%;
    width:30%;
    max-width:279px;
    height:114px;
    display:block; float:left;}
.main_menu {
    float:right; padding-top: 50px;}
.main_menu li { list-style-type:none; display:inline-block;}
.main_menu li a { display:block; padding:5px 10px; color:#333;
    text-decoration: none;}
.main_menu li.active a, .main_menu li a.active { color: #009eec;}
.main_menu li a:hover { text-decoration:underline;}

/* =============================== tags ========================================== */
h1 {border-bottom: #b3d9e4 1px solid;
    font-size:300%;}
.content a { color:#fff;}
.fl_l { float:left}
.fl_r { float:right}
.content img.fl_l { margin: 10px 10px 10px 0}
.content img.fl_r { margin: 10px 0px 10px 10px}

/* =============================== NEWS ========================================== */
.news { text-decoration: none;border-bottom: #b3d9e4 1px solid;
    display:block;
    margin:0 0 20px 0;
    padding-bottom:20px;
    transition:color .2s ease-in-out;
}
.news:hover { color:#a2ecff;}
.news_hdr { display:table; vertical-align:middle;}
.news_hdr span, .news_hdr .news_title {  display:table-cell;}
.news_hdr .news_title { font-size:190%; vertical-align:middle;
    padding-left: 10px;}

.news .fnt_small { display:block; font-size:90%;
    margin:0 0 10px 64px;}
.news_hdr span {
    background:url(/assets/images/commit.png) 50% no-repeat;
    background-size:contain;
    width:52px;
    height:54px;
    color:#333;
    text-align:center;
    font-size:10px;
    padding:0 3px;
}
.news_hdr span strong { display:block;
    font-size:24px;
    line-height:20px;
    margin-top:9px;}
.news_single_info { margin:-20px 0 10px 0;}
.news_single_info span { display:block; float:left; margin:0 20px 0 0;}

/* =====================================   projects flow =================================== */
.project_wrap {
    position:absolute;
    bottom:0px;
    left: 0;
    right: 0;
    z-index:0;
    height:0px;
    overflow:hidden;}
.commits { margin:0 auto;
    width:45%;}
.commit {
    position:relative;
    cursor:pointer;
    width:97px;
    height:110px;
    clear:both;
    background:url(/assets/images/commit.png) 0 0 no-repeat;
    overflow:hidden;
}
.commit	g {
    clip-path: url(#clipping);
}
.commit	.info { position:absolute;  top:0px; left:0px; color:#fff;
    width:400px;
    line-height:90%;
    display:table;
    vertical-align:middle;
    padding-left:100px;
    opacity:0;
    transition: all .3s ease-out 0.2s;
}
.commit:hover { overflow:visible;}
.commit:hover .info { opacity:1;}
.commit	.info svg {
    top: 9px;
    left: 7px;
    position:absolute;
}
.commit	.info svg + div {
    display:table-cell; vertical-align:middle; height:110px;}
.commit	.info svg + div	 div { border-bottom:#fff 1px solid; margin:0 0 5px -10px; padding:0 0 5px 10px;}
.commit .date { text-align:center; width:97px;
    line-height:210%;
    padding-top:30px;
    color:#add860;}
.commit .date strong { font-size:50px; display:block;}

.commit.p1 { margin:20px 0 20px 20px;}
.commit.p2 { margin:20px 0 20px 120px;
    float:right;}
.commit.p3 { margin:20px 0 20px 70px;}
.commit.p4 { margin:20px 100px 20px 20px;
    float:right;}
.commit.p5 { margin:20px 0 20px 220px;}
.commit.p6 { margin:20px 0 20px 420px;}

/*======================================  TEAM  ============================*/
.usr {position:relative;
    cursor:pointer;
    height:110px;
    margin:0 0 45px 0;
    clear:both;
    background:url(/assets/images/commit.png) 0 0 no-repeat;}
.usr .info { position:absolute;  top:0px; left:0px; color:#fff;
    line-height:90%;
    display:table;
    vertical-align:middle;
    padding-left:115px;}
.usr .info svg {
    top: 9px;
    left: 7px;
    position:absolute;
}
.usr .info span	{ display:block; clear:both; font-size:90%;}
.usr h3 { font-size:160%; font-weight:normal;
    margin: 35px 0 15px 0;
    float:left;}
.usr_socials {float: left;
    margin: 19px 0 0 5px;}
.usr_socials a {
    display:block;
    float:left;
    width: 22px;
    height:24px;
    margin:0 3px;
    background-image:url(/assets/images/socials.png);
}
.usr_fb { background-position:0px 0px}
.usr_be { background-position:-30px 0px}
.usr_gl { background-position:-60px 0px}
.usr_tw { background-position:-90px 0px}
.usr_in { background-position:-120px 0px}

/*======================================  form  ============================*/
.contacts { width:70%; margin:0 auto;}
.field_row { margin:15px 0; vertical-align:middle;}
.field_row label {width: 34%; display:inline-block; padding:0 1% 0 0;
    font-size: 120%;
    text-align:right;}
.field_row input.input, .field_row textarea {
    width:65.5%;
    display: inline-block;
    border:rgba(255,255,255, 0) 1px solid;
    padding:0px 1%;
    background: rgba(255,255,255, 0.5);
    transition: all .2s ease-in-out;}
.field_row input.input	{
    position:relative;
    height:36px;}
.field_row input.input:focus, .field_row textarea:focus {border:#fff 1px solid;
    outline:none;}
button {
    color:#fff;
    background:#06adff;
    border:none;
    padding:0 10px;
    vertical-align:middle;
    height:36px;
    font-size:120%;
    transition:all .2s ease-in-out;	}
button:hover {
    background:#2dbaff;
}
.field_row button { float:right}
.field_row input.required:before {
    position:absolute;
    top:10px;
    content:'*';
    font-size:36px;
    color:#fff;
}


/*======================================  LOGOS  ============================*/
.logos { vertical-align:middle;
    line-height:100px;}
.logos div {
    display:inline-block; margin:20px;}
/*======================================  projects_menu  ============================*/
.projects_menu { position:absolute;
    right:10px;
    top:35%;
}
.projects_menu > strong {
    display:block;
    color:#fff;
    text-align:right;
    font-weight:normal;
    margin:0 20px 5px 0;
}
.projects_menu span {
    height: 18px;
    min-width: 13px;
    background:url(/assets/images/proj_menu.png) 0px 0px;
    position:relative;
    display: block;
    font-size: 12px; color:#fff;
    margin:3px 0;
    padding:0 0 0 10px;
    cursor:pointer;
    float:right;
    clear:both;
}
.projects_menu span	strong { width:0px; overflow:hidden;
    display:block;
    font-weight:normal;
    transition: all .2s ease-in-out;
    overflow:hidden;
    text-overflow: ellipsis;
}
.projects_menu span:after {
    content:'';
    width:6px;
    height:18px;
    position:absolute;
    top:0px;
    background-image:url(/assets/images/proj_menu.png);
}
.projects_menu span:after { background-position:100% 0px; right:-6px;}
.projects_menu span:hover:after, .projects_menu span.active:after { background-position:0px -20px; width:20px;}
.projects_menu span:hover strong, .projects_menu span.active strong {
    width:180px;
    margin-right:20px;}
/*======================================  LOADER  ============================ */
.loader_wrap { position:absolute;
    z-index: 1000;
    top:0px;
    left:50%;
    width:1px; height:1px;}
.loader_wrap > div {
    position:absolute;
    top:20px; width:700px;
    left:-350px;
    height:5px;
    border-radius: 3px;
    box-shadow:1px 1px 3px rgba(0,0,0, .5) inset;
}
.loader_wrap > div:after {
    content:'';
    position:absolute;
    top:0px; left:0px; right:0px; bottom:0px;
    box-shadow:0px 0px 20px rgba(255,255,255, .9);
}
.loader_wrap .bar { background:#fff;
    height:5px; border-radius:3px;
    width:0%;}
.loader_wrap.preloader {
    top:50%;}
.loader_wrap.preloader > div {
    font-size:20px;
}
.loader_wrap .project_name {
    margin-top: -30px;
    float:left;}
.loader_wrap .percent {
    margin-top: -30px;
    float:right;}
.loader_wrap.preloader > div:before {
    box-sizing:border-box;
    height:100px;
    width:800px;
    position:absolute;
    z-index:-1;
    content:'';
    top: -50px;
    left: -50px;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .8);
    background: rgba(255, 255, 255, .4);
    border: rgba(255, 255, 255, .5) 1px solid;
}

/*======================================  PARALLAX BG  ============================
@-webkit-keyframes plax {
	0% { background-position:50% 0%;}
	100% {background-position:50% -1000px;}
}
@-moz-keyframes plax {
	0% { background-position:50% 0%;}
	100% {background-position:50% -1000px;}
}
@-o-keyframes plax {
	0% { background-position:50% 0px;}
	100% {background-position:50% -1000px;}
}
.plax > div {
	position:absolute;
	z-index:0;
	top:0px; left:0px; right:0px; bottom:0px;
	background-repeat: repeat-y;
	transform: translateZ(0);
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;	
	}
.plax1 {
	background-image:url(/assets/images/plax1.png);
	-webkit-animation: plax 18s linear infinite;
	-moz-animation: plax 18s linear infinite;
	-o-animation: plax 18s linear infinite;
	}

.plax2 {
	background-image:url(/assets/images/plax2.png);
	-webkit-animation: plax 12s linear infinite;
	-moz-animation: plax 12s linear infinite;
	-o-animation: plax 12s linear infinite;
	}

.plax3 {
	background-image:url(/assets/images/plax3.png);
	-webkit-animation: plax 9s linear infinite;
	-moz-animation: plax 9s linear infinite;
	-o-animation: plax 9s linear infinite;
	}
.plax4 {
	background-image:url(/assets/images/plax4.png);
	-webkit-animation: plax 7s linear infinite;
	-moz-animation: plax 7s linear infinite;
	-o-animation: plax 7s linear infinite;
	}
=*/
.plax {
    position:absolute;
    z-index:0;
    top:0px; left:0px; right:0px; bottom:0px;
    overflow:hidden;}
.plax > div {
    position:absolute;
    z-index:0;
    top:0px; left:0px; right:0px;
    height:4000px;
    background-repeat: repeat-y;
    background-position:50% 0px;
}
.plax1 {
    background-image:url(/assets/images/plax1.png);
}

.plax2 {
    background-image:url(/assets/images/plax2.png);
}

.plax3 {
    background-image:url(/assets/images/plax3.png);
}
.plax4 {
    background-image:url(/assets/images/plax4.png);
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
/*===================== project_descr ============================*/
.project_descr {
    position: fixed;
    color:#fff;
    bottom: 70px;
    display:none;
    top: 10px;
    width: 50%;
    left: 25%;}
.project_descr	> div { max-width:740px; width:100%; margin:0 auto;}

.project_values div {
    width:33%;
    float:left;
    padding:0 0 10px 30px;
    position:relative;
}
.project_values div strong { color:#222;
    font-size: 20px;}
.project_values div:before {
    background-image: url(/assets/images/icons.png);
    content:'';
    position:absolute;
    top: 0px;
    left:0px;
    width:25px;
    height:35px;
}
.commits_qty:before { background-position: 0px 7px;}
.days_qty:before { background-position: 0px -63px;}
.guys_qty:before { background-position: 5px -27px;}

/*------------------------- spinner -----------------------------*/
.fade { position: fixed; top:0px; left:0px; right:0px; bottom:0px; background: #000; opacity:.7; z-index:1000}
.spinner { font-size: 1em; display: inline-block; z-index:1000; width: 10em; height: 10em; border-radius: 50%; border: 1.25em solid #fff; position: absolute; top: 50%; left: 50%; margin: -6.25em 0 0 -6.25em; -webkit-animation: rotate 1s infinite linear; animation: rotate .75s infinite linear;

    box-shadow:0 0 100px rgba(0,0,0, 0.5)}

.spinner::before, .spinner::after { content: ""; background: #fff; display: block; width: 1.25em; position: absolute; left: 50%; margin-left: -.625em; }

.spinner::before { height: 2.9em; top: 1em; border-radius: 1em 1em 0 0; }
.spinner::after { height: 1.25em; top: 50%; margin-top: -.625em; border-radius: 50%; }

@-webkit-keyframes rotate {
    0% { -webkit-transform: rotate(0deg);}
    100% { -webkit-transform: rotate(360deg);}
}
@keyframes rotate {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}
