/* ==========================================================================
   QUERIES
   ========================================================================== */

@media screen and (min-width : 1024px)
{

}


/*1024*/
@media screen and (max-width : 1024px)
{

    .news p{ display: none}

}
/*850*/
@media screen and (max-width : 850px)
{
    .logo {
        margin: 20px 0 0 65px;
        width: 160px;
        height: 60px;
        background-position: -20px 0px;
    }
    .mainmenu {z-index: 0;
        padding: 90px 0 0 0;
        height:360px;
    }
    .mainmenu a { color: #fff;}
    .mainmenu li a span, .mainmenu li.active a span {
        padding:5px ;
    }
    .header_phone {
        bottom: 100px;
        color: #fff;
    }
    .mainmenu li.active > a, .mainmenu li > a:hover {
        background-position: 100% -75px;
    }
    .mainmenu li.active span {
        background: none;
    }
    .side_block a {
        float: left;
        width: 48%;
        margin: 0 1%;
    }

    .content {padding-left: 0px}
    .main_wrap > header:after {z-index: 1}
    .newspic + div {
        margin-left: 185px;
    }
    aside {float: none;
        margin: 20px 0 0 0;
        clear: both;
        width: 100%;
    }
    .newspic {
        background-image: url(../images/news_pic_touch.jpg);
        width: 180px;
        height: 118px;
    }
    .newspic div {
        top: 10px;
        left: 15px;
        right: 15px;
        bottom: 15px;
    }

}


@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   TOUCH
   ========================================================================== */
html.touch .fm_i { overflow:visible;}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a, a:visited {text-decoration: underline;}
    a[href]:after {content: " (" attr(href) ")";}
    abbr[title]:after {content: " (" attr(title) ")";}
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group; /* h5bp.com/t */
    }
    tr, img {
        page-break-inside: avoid;    }
    img {
        max-width: 100% !important;    }
    @page {
        margin: 0.5cm;    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;}
}