<svg class="svg-graphic"  width="94.5px" height="105.75px" viewBox="0 0 94.5 105.75" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" version="1.1">
    <g>
        <clipPath id="hex">
            <polygon  points="43.927,0 38.226,0 2.85,20.425 0,25.36 0,66.212 2.849,71.146 38.228,91.572 43.926,91.572 79.305,71.146
	82.153,66.212 82.153,25.36 79.304,20.425 "/>
        </clipPath>
    </g>
</svg>
<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="page_wrap">
    {{outlet}}
</div>
{{!--<footer>--}}
    {{!--<div class="footer">--}}
    {{!--</div>--}}
{{!--</footer>--}}

