<div class="main_wrap">
    <header></header>
    <div class="content_wrap">
        <div class="content">
            <div class="contacts">
                <h1>Contacts</h1>
                <form>
                    <div class="field_row"><label>Ваше имя</label>
                        <input type="text" class="input required"></div>
                    <div class="field_row"><label>Ваш email</label>
                        <input type="text" class="input required"></div>
                    <div class="field_row"><label>Cообщение</label>
                        <textarea cols="8" rows="6"></textarea></div>
                    <div class="field_row"><button>Отправить сообщение</button></div>

                </form>
            </div>

        </div><!--content-->
        <aside></aside>
    </div><!--content_wrap-->
</div> <!--main_wrap-->