{{#view 'loop'}}
    <div class="plax1"></div>
    <div class="plax2"></div>
    <div class="plax3"></div>
    <div class="plax4"></div>
{{/view}}
{{#view 'project-wrap'}}
    <div class="commits">
        {{each controller.selectedProject.commits itemView='project-commit'}}
    </div>
{{/view}}
<div class="loader_wrap">
    <div>
        <div class="project_name"></div>
        <div class="percent"></div>
        <div class="bar"></div>
    </div>
</div>
<div class="projects_menu">
  {{each controller itemView='project-menu'}}
</div>
<div class="main_wrap">
    <header></header>
    <div class="content_wrap">
        <div class="content">

        </div>
        <aside></aside>
    </div><!--content_wrap-->
</div> <!--main_wrap-->