<div class="page_wrap">
    <div class="main_wrap">
        <header class="header2">
            <div class="header_inner">

                <div class="header_phone">
                </div>

            </div><!-- header1 -->
        </header>

        <div class="content_wrap">
            <div class="content">
            </div> <!--.content  -->
            <aside>
            </aside>
        </div><!-- content-wrap -->

    </div> <!-- main_wrap -->

</div> <!-- page_wrap -->

<footer>
    <div class="footer">
        <ul>
            <li></li>
        </ul>
    </div>
</footer>