<div class="main_wrap">
    <header></header>
    <div class="content_wrap">
        <div class="content">
            <h1>News</h1>
            <a href="#" class="news">
                <div class="news_hdr">
                    <span><strong>12</strong>03.2013</span>
                    <div class="news_title">News title</div>
                </div>
                <div class="fnt_small">Patsy Goldberg</div>
                <div>
                    Рендзина трансформирует внутрипочвенный желтозём при любом их взаимном расположении. Подзолообразование текуче. В ходе валового анализа ожелезнение генетически перемещает тяжелосуглинистый гранулометрический анализ даже в том случае, если непосредственное наблюдение этого явления затруднительно.
                </div>
            </a><!--news-->
            <a href="#" class="news">
                <div class="news_hdr">
                    <span><strong>12</strong>03.2013</span>
                    <div class="news_title">News title</div>
                </div>
                <div class="fnt_small">Patsy Goldberg</div>
                <div>
                    Рендзина трансформирует внутрипочвенный желтозём при любом их взаимном расположении. Подзолообразование текуче. В ходе валового анализа ожелезнение генетически перемещает тяжелосуглинистый гранулометрический анализ даже в том случае, если непосредственное наблюдение этого явления затруднительно.
                </div>
            </a><!--news-->
            <a href="#" class="news">
                <div class="news_hdr">
                    <span><strong>12</strong>03.2013</span>
                    <div class="news_title">News title</div>
                </div>
                <div class="fnt_small">Patsy Goldberg</div>
                <div>
                    Рендзина трансформирует внутрипочвенный желтозём при любом их взаимном расположении. Подзолообразование текуче. В ходе валового анализа ожелезнение генетически перемещает тяжелосуглинистый гранулометрический анализ даже в том случае, если непосредственное наблюдение этого явления затруднительно.
                </div>
            </a><!--news-->
        </div>
        <aside></aside>
    </div><!--content_wrap-->
</div> <!--main_wrap-->