<div class="main_wrap">
    <header></header>
    <div class="content_wrap">
        <div class="content">
            <h1>Team</h1>
            <div class="usr">
                <div class="info"><svg height="100" width="100"><image clip-path="url(#hex)" xlink:href="static/photo2.jpg" height="100" width="100"></image></svg>
                    <div><h3>Василиса Егоровна</h3>
                        <div class="usr_socials">
                            <a href="#" class="usr_fb"></a>
                            <a href="#" class="usr_tw"></a>
                            <a href="#" class="usr_be"></a>
                            <a href="#" class="usr_gl"></a>
                            <a href="#" class="usr_in"></a>
                        </div>
                        <span>митець</span></div></div>
            </div><!--usr-->

            <div class="usr">
                <div class="info"><svg height="100" width="100"><image clip-path="url(#hex)" xlink:href="static/photo1.jpg" height="100" width="100"></image></svg>
                    <div><h3>Дмитрий Лепешков</h3>
                        <div class="usr_socials">
                            <a href="#" class="usr_fb"></a>
                            <a href="#" class="usr_tw"></a>
                            <a href="#" class="usr_be"></a>
                            <a href="#" class="usr_gl"></a>
                            <a href="#" class="usr_in"></a>
                        </div>
                        <span>митець</span></div></div>
            </div><!--usr-->
        </div><!--content-->
        <aside></aside>
    </div><!--content_wrap-->
</div> <!--main_wrap-->