<div class="main_wrap">

    <div class="loader_wrap preloader">
        <div>
            <div class="project_name">Loading...</div>
            <div class="percent">53%</div>
            <div class="bar"></div>
        </div>
    </div>

    <header></header>
    <div class="content_wrap">
        <div class="content">
            <h1>Technologies</h1>
            <div class="logos">
                <div><img src="static/logo_couch.png"></div>
                <div><img src="static/logo_elastic.png"></div>
                <div><img src="static/logo_ror.png"></div>
                <div><img src="static/logo_elixir.png"></div>
                <div><img src="static/logo_erlang.png"></div>
                <div><img src="static/logo_mysql.png"></div>
                <div><img src="static/logo_js.png"></div>
            </div>
            <p class="center">Наша архитектурная мастерская не работает по шаблонам. В процессе подготовки проекта мы осуществляем индивидуальный подход к каждому объекту, делая акцент в первую очередь на его назначении. Проектирование особняков, загородных домов, вилл, квартир и общественных интерьеров - сочетание современных технологий, новейших разработок в области строительства и высокой культуры дизайна в лучших традициях стилистических решений позволяет нашей команде воплощать в жизнь проекты высокого уровня инженерной сложности, по сей день остающиеся непревзойденными.</p>

        </div><!--content-->
        <aside></aside>
    </div><!--content_wrap-->
</div> <!--main_wrap-->