<div class="main_wrap">
    <header></header>
    <div class="content_wrap">
        <div class="content">
            <h1>Technologies</h1>
            <div class="logos">
                <div><img src="/assets/static/logo_couch.png"></div>
                <div><img src="/assets/static/logo_elastic.png"></div>
                <div><img src="/assets/static/logo_ror.png"></div>
                <div><img src="/assets/static/logo_elixir.png"></div>
                <div><img src="/assets/static/logo_erlang.png"></div>
                <div><img src="/assets/static/logo_mysql.png"></div>
                <div><img src="/assets/static/logo_js.png"></div>
                <div><img src="/assets/static/logo_ember.png"></div>
                <div><img src="/assets/static/logo_html5.png"></div>
                <div><img src="/assets/static/logo_pivotal.png"></div>
                <div><img src="/assets/static/logo_git.png"></div>
            </div>
            <p class="center">
            </p>
        </div><!--content-->
        <aside></aside>
    </div><!--content_wrap-->
</div> <!--main_wrap-->